:root {
  --black: #000;
  --white: #FFF;
  --pink: #D33B80;
  --blue: #001aff;
  --yellow: #EFFF44;
  --dark-blue: #060235;
}

.theme-dark{
  --font-color: var(--white);
  --primary: var(--yellow);
  --background-color: var(--black);

  color: var(--font-color);
  background-color: var(--black);
}

.theme-light{
  --font-color: var(--black);
  --primary: var(--blue);
  --background-color: var(--white);
  
  color: var(--font-color);
  background-color: var(--white);
}

.theme-contrast{
  --font-color: #F9AD00;
  --primary: #E01574;
  --background-color: var(--dark-blue);

  color: var(--font-color);
  background-color: var(--dark-blue);
}