.link {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1px;
    cursor: pointer;
}

.link--simple {
    text-decoration: none;
    font-weight: 400;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
    line-height: 2;
}

.link--simple:hover,
.link:hover {
    border: none;
    border-bottom: 1px solid transparent;
    transition: .4s !important;
}

.flex {
    display: flex;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 40px;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.role {
    display: block;
    font-weight: 400;
}

.mt-2 {
    margin-top: 2rem;
}

.experiences {
    margin-top: 2.5rem;
    display: flow-root;
}

.experience figure, 
.experience video{
    display: block;
    margin: 0;
    max-width: 480px;
}

.experience-figure-container{
    width: 100%;
    aspect-ratio: 13/12;
    border-radius: 8px;
}

.experience figure img,
.experience video{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.experience-content {
    display: block;
    margin: 2.5rem 0 5rem;
}

.experience-content a{
    display: block;
    margin: 40px 0 180px;
}

.experience-content p {
    margin: 0;
    line-height: 1.4;
    opacity: .5;
}

.experiences .experience:nth-child(odd) {
    text-align: right;
}

.available {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.footer {
    padding: 2.5rem 0 0 0;
    opacity: .5;
}

.logo {
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
}

@media only screen and (min-width: 768px) {
    *,
    .name {
        font-size: 18px;
    }

    .container {
        padding: 0 80px;
    }

    .logo {
        margin-top: 7.5rem;
    }

    .experiences{
        height: auto;
        margin-top: 80px;
    }

    .experience {
        width: 75%;
    }

    .experiences .experience:nth-child(odd) {
        float: right;
    }

    .footer {
        padding: 2.5rem 0;
    }

    .experiences .experience:nth-child(2) {
        margin: 0;
        margin-top: 40%;
    }
}

@media only screen and (min-width: 1024px) {

    *{
        margin: 0;
        border: 0;
        padding: 0;
    }

    .experience{
        width: 50%;
        float: left;
    }

    .experience figure,
    .experience video{
        margin-left: 2.5rem;
    }

    .experiences .experience:nth-child(even) figure,
    .experiences .experience:nth-child(even) video{
        margin: 0;
        margin-right: 2.5rem;
    }

    .introduction {
        max-width: 600px;
        line-height: 2;
    }

    .conclusion {
        position: relative;
        max-width: 800px;
        margin: 0;
        padding: 0;
        border: 0;
        line-height: 2;
    }
}